<h1 class="mb-4">Posts Feed</h1>
<% if @posts.any? %>
  <% @posts.each do |p| %>
    <%= render 'shared/post', p: p %>
  <% end %>
<% else %>
  <p>
    <span class="text-danger bi-fire"> Oops!</span>
    There are no posted. Become the first one to
    post. <%= link_to "Click here to create", new_path %>
  </p>
<% end %>