<div class="w-100 m-auto">
  <%= form_with do |f| %>
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="elon@twitter.com" name="user[email]" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="user[password]" required>
      <label for="floatingPassword">Password</label>
    </div>
    <%= f.submit 'Submit', class: 'w-100 btn btn-lg btn-primary' %>
  <% end %>
</div>